body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff ;
  border: 1px solid rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-decoration-color: rgb(255, 0, 0) ;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}

.paintedSquare{
  background: rgb(61, 60, 60) ;
  font-size: 0px;
}

.square:focus {
  outline: none;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3bd9f5;
  border-radius: 8px;
  margin: 5px;
}

.clueSatisface {
  background: #9ee6e2 ;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.mode{
  height: 60px;
  width: 50px;
  background-color: crimson;
  

}