body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(243, 211, 141);
  align-items: center;
  display:flex;
  flex-direction: column;
  
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.barraInf{ 
  align-items: center; 
  flex-direction: column;
  margin-left:50%;
  background-color: darkcyan;
  display: flex;
}

.square {
  background: #fff ;
  border: 1px solid rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  color: rgb(230, 126, 57) ;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}

.paintedSquare{
  background: rgb(230, 126, 57);
  font-size: 0px;
}

.square:focus {
  outline: none;
}

.board {
  display: grid;
  
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}



.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #e07f2f;
  border-radius: 8px;
  margin: 5px;

  
}

.clueSatisface {
  background: #ecd5a3 ;
  color: #8a869e ;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
  
}



.span{
  border-radius: 5px;
  background: white;
  display: block;
  margin: 5px auto;
  height: 10%;
  width: 60%;  
  animation-duration: 2s;
  animation-fill-mode: both; 
}

.modeButton{
  background-color: rgb(230, 126, 57); 
  border: 0;
  cursor: pointer;
  padding:0;
  width: 60px;
  height: 60px;
  align-items: center;
  border-radius: 13px;
}

.paint .top-line{
  animation-name: top-line-animation-paint;
  margin: 0 auto;
  transform:translateY(-9px) ;
}
.paint .right-line{
  animation-name: right-line-animation-paint;
  margin: 0 auto;
  transform:translateX(18px) translateY(2px) rotate(-90deg);
}
.paint .left-line{
  animation-name: left-line-animation-paint;
  margin: 0 auto;
  transform:translateX(-17px) translateY(-2px)rotate(90deg);
}
.paint .bottom-line{
  animation-name: bottom-line-animation-paint; 
  margin: 0 auto;
  transform:translateY(10px);
}

.top-line{
  animation-name: top-line-animation;
}
.right-line{
  animation-name: right-line-animation;
}
.left-line{
  animation-name: left-line-animation;
}
.bottom-line{
  animation-name: bottom-line-animation;
}

/* -----------CUADRADO-------------------- */
@keyframes top-line-animation-paint {
  50%, 100%{
    margin: 0 auto;
    transform:translateY(-9px) ;
  }
}
@keyframes left-line-animation-paint {
  50%, 100%{
    margin: 0 auto;
    transform:translateX(-17px) translateY(-2px)rotate(90deg);
  }
}
@keyframes right-line-animation-paint {
  50%, 100%{
    margin: 0 auto;
    transform:translateX(18px) translateY(2px) rotate(-90deg);
  }
}
@keyframes bottom-line-animation-paint {
  50%, 100%{
    margin: 0 auto;
    transform:translateY(10px);
  }
}
/* -----------CRUZ-------------------- */
@keyframes top-line-animation {
  50%,100%{
    
    transform:translateY(275%) rotate(45deg);
  }
  
}
@keyframes left-line-animation {
  50%,100%{
    
    transform:translateX(-10%) rotate(-45deg);
  }
}
@keyframes right-line-animation {
  50%,100%{
    
    transform:translateX(10%) rotate(-45deg);
  }
}
@keyframes bottom-line-animation {
  50%,100%{
    
    transform:translateY(-275%) rotate(45deg);
  }
}